
{{#if  user}}
  {{#each articles}}
  {{#if this.img}}
  <img src="{{this.img}}" width="300" height="200" alt="imgURL">
  <a href="/articles/{{this._id}}">Save News</a>
<br>
<br>
{{this.title}}
{{/if}}
{{/each}}
{{/if}}

<div class="mensaje"></div>

