<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav class="navbar-space navbar navbar-expand-lg fixed-top navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Kizola</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/us">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/explore">Explore
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            My Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile/userProfile">See profile</a>
            <a class="dropdown-item" href="/profile/edit">Edit</a>
            <a class="dropdown-item" href="/profile/configuration">Configuration</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/auth/login">Log In</a>
            <a class="dropdown-item" href="/auth/signup">Sign Up</a>
            <a class="dropdown-item" href="/auth/logout">Log Out</a>
          </div>
        </li>
      </ul>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Countries
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/ru">Russia</a>
          <a class="dropdown-item" href="/it">Italy</a>
          <a class="dropdown-item" href="/gb">UK</a>
        </div>
      </li>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" id = "search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  {{{body}}}
  <script> 
    AOS.init();
  </script>
  <script src='/javascripts/script.js'></script>
</body>

</html>


{{!-- 
<input type = "text" id = "search" placeholder = "Your choice" autofocus />
<section>
    <div>
        <img src = "http://images.media-allrecipes.com/userphotos/960x960/3757193.jpg" />
        <span>Lentils with rice</span>
    </div>
    <div>
        <img src = "http://www.todohuertoyjardin.es/blog/wp-content/uploads/2014/02/cultivo-espinacas-huerto.jpg" />
        <span>Spinach salad</span>
    </div>
    <div>
        <img src = "http://blogs.20minutos.es/yaestaellistoquetodolosabe/files/2012/07/Por-qu%C3%A9-se-llama-macedonia-al-postre-compuesto-de-varias-frutas.jpg" />
        <span>Fruits salad</span>
    </div>
    <div>
        <img src = "http://www.regmurcia.com/servlet/integra.servlets.Imagenes?METHOD=VERIMAGEN_95203&nombre=plato-presentado_res_300.jpg" />
        <span>Wheat stew</span>
    </div>
    <div>
        <img src = "http://file.answcdn.com/answ-cld/image/upload/w_768,h_298,c_fill,g_face:center,q_60,f_jpg/v1/tk/view/getty/soups-and-stews/c75b9a7f/158794010.jpg" />
        <span>Stew with tomatoes</span>
    </div>
</section> --}}